{% extends "/users/index.html.twig"%}
{% block link %}
    <link rel="stylesheet" href="/css/addProject.css">
{% endblock %}
{% block header %}
    <h1>Ajouter une taches a un projet</h1>
{% endblock %}
{% block main %}
    {% for errors in app.flashes("error") %}
        {% for error in errors %}
            <p class="errorMessage">{{error.message}}</p>
        {% endfor %}
    {% endfor %}
    {% if project %}
        <form class="projectCreationForm" action="/project/{{project.getId}}/task/save" method="post">
            <label for="taskName">Nom de la tache</label>

            <input type="text" name="taskName"/>
            <label for="taskDescription">Description de la tache</label>

            <input type="text" name="taskDescription"/>

            <div class="dateContainer">
                <label for="taskStartingDate">Date de début</label>
                <input class="dateInput" type="date" name="taskStartingDate"/>
                <label for="taskEndingDate">Date de fin</label>

                <input class="dateInput" type="date" name="taskEndingDate"/>
            </div>

            <button class="btn-linear-flat" type="submit" name="button">Ajouter</button>
        </form>
    {% endif %}
{% endblock %}
