{% extends "/users/index.html.twig" %}
{% block link %}
    <link rel="stylesheet" href="/css/userAdd.css">
{% endblock %}
{% block header %}
    <h1>Ajout utilisateur</h1>
{% endblock %}
{% block main %}
    {% for errors in app.flashes("error") %}
        {% for error in errors %}
            <p class="errorMessage">{{error.message}}</p>
        {% endfor %}
    {% endfor %}
    <form class="userAddForm" action="/users/save" method="post">
        <div class="formDiv">
            <label class="userAddLabel" for="firstName">Nom</label>
            <input class="userAddInput" type="text" name="firstName"/>
        </div>
        <div class="formDiv">
            <label for="lastName">Prénom</label>
            <input type="text" name="lastName"/>
        </div>

        <div class="formDiv">
            <label  for="email">Email</label>
            <input  type="email" name="email"/>
        </div>


        <button class="btn-linear-flat" type="submit" name="button">Ajouter Utilisateur</button>
    </form>
{%endblock%}
