{% extends "/project/index.html.twig"%}
{% block link %}
    <link rel="stylesheet" href="/css/addProject.css">
{% endblock %}
{% block header %}
    <h1>Ajouter Projet</h1>
{% endblock %}
{% block main %}

    {% for errors in app.flashes("error") %}
        {% for error in errors %}
            <p class="errorMessage">{{error.message}}</p>
        {% endfor %}
    {% endfor %}

    <form class="projectCreationForm" action="/project/save" method="post">
        <label for="projectName">Nom du projet: </label>
        <input type="text" name="projectName">

        <label for="description">Description du projet: </label>
        <input type="text-area" name="description"/>
        <div class="dateContainer">
            <label class="dateLabel" for="startDate">Date de debut: </label>
            <input class="dateInput" type="date" name="startDate"/>

            <label class="dateLabel" for="endDate">Date de fin: </label>
            <input class="dateInput" type="date" name="endDate"/>
        </div>
        <button class="btn-linear-flat" type="submit" name="button">Ajout du projet</button>
    </form>
{% endblock %}
